.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 800px;
  margin: auto;
  font-size: 18px;
  max-width: 640px;
}

.filters--entry {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.filters--entry:hover svg,
.filters--entry:hover {
  fill: blue;
  color: blue;
  cursor: pointer;
}

.blue svg,
.blue {
  fill: blue;
  color: blue;
  cursor: pointer;
}

.filters--entry svg {
  width: 20px;
}
