.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 800px;
  margin: auto;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.filters--entry {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  background-color: white;
  height: 40px;
  border-radius: 9px;
}

.filters--entry:hover svg,
.filters--entry:hover {
  fill: blue;
  color: blue;
  cursor: pointer;
}

.blue svg,
.blue {
  fill: blue;
  color: blue;
  cursor: pointer;
}

.filters--entry svg {
  width: 20px;
}
