.header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  gap: 30px;
  height: 5em;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}

.header--site {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header--logo {
  width: 30px;
}

.header--title {
  display: none;
}

.header--title--micro {
  color: blue;
}

.search {
  position: relative;
  width: 100%;
  max-width: 630px;
}
.header--searchbox {
  width: 100%;
}

.header--searchbox input {
  border: 1px solid black;
  text-indent: 30px;
  height: 40px;
  width: 100%;
  padding: 0;
}

.search--results {
  border: 1px solid black;
  position: absolute;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 400px;
  overflow-y: scroll;
}

.search--result ul {
  max-height: 300px;
}

.search--results li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
}

.search--results li:hover {
  color: blue; /* Add a black text color */
  cursor: pointer;
}

.hidden {
  display: none;
}

input,
input::placeholder {
  font-size: 24px;
}

.header--dots {
  width: 9vw;
}

.header--dots img {
  width: 30px;
}

@media only screen and (min-width: 600px) {
  .header--title {
    display: block;
  }
}
