.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  gap: 20px;
  height: 5em;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}

.header--site {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header--logo {
  width: 30px;
  padding-left: 10px;
}

.header--title {
  display: none;
}

.header--title--micro {
  color: blue;
}

.header--searchbox {
  display: inline-block;
  position: relative;
  max-width: 630px;
  width: 100%;
}

.header--searchbox input {
  text-indent: 30px;
  height: 40px;
  width: 100%;
}

input,
input::placeholder {
  font-size: 24px;
}

.header--search--icon {
  display: inline-block;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 15px;
}

.header--dots {
  width: 10vw;
}

@media only screen and (min-width: 500px) {
  .header--title {
    display: block;
  }
}
