.header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  gap: 30px;
  height: 5em;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}

.header--site {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header--logo {
  width: 30px;
}

.header--title {
  display: none;
}

.header--title--micro {
  color: blue;
}

.header--dots {
  width: 9vw;
}

.header--dots img {
  width: 30px;
}

@media only screen and (min-width: 600px) {
  .header--title {
    display: block;
  }
}
