.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  background-color: white;
  margin-top: 20px;
  border: 1px solid gainsboro;
  border-radius: 2px;
}

.post--title {
  padding: 0 20px;
}

.post--content * {
  max-width: 100%;
  max-height: 600px;
}

.post--content p {
  padding: 20px;
  word-wrap: break-word;
  text-align: left;
}

.post--content--readmore {
  color: blue;
  text-align: right;
}

.post--info {
  display: flex;
  max-width: 100%;
  padding: 10px;
  justify-content: space-evenly;
}

.post--info > * {
  width: 100%;
}

.post--info svg {
  min-width: 25px;
}

.post--info--score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: blue;
}

.post--info--score--up:hover {
  fill: green;
}

.post--info--comment {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  gap: 5px;
}

.post--info--author {
  width: 100%;
  text-align: center;
}

.post--info--author p {
  font-size: 12px;
}

.post--info-author--prop {
  font-size: medium;
  color: blue;
}
