.post {
  border: 1px solid black;
  display: flex;
  cursor: pointer;
  justify-content: center;
  max-width: 100vw;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 9px;
  margin: 10px;
  max-width: 800px;
  max-width: 600px;
}

.post--container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.post--container--votebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}

.post--container--votebar svg {
  width: 30px;
}

.score {
  margin: 20px 0;
  color: blue;
}

.up {
  width: 70px;
}
.up:hover {
  fill: green;
}

.down {
  width: 70px;
}
.down:hover {
  fill: orange;
}

.post--container--content {
  width: 100%;
  margin: auto;
}
.post--container--content-postinfo {
}

.post--container--content-bottominfo {
  display: flex;
  gap: 20px;
}

.preview {
  width: 100%;
}

video {
  cursor: auto;
}
