.post {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 7px;
  margin: 10px;
  width: 100%;
  max-width: 1200px;
}

.post--container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.post--container--votebar {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.post--container--votebar svg {
  width: 20px;
  fill: #333;
}

.score {
  font-size: 18px;
  color: blue;
}

.up {
  width: 30px;
}

.up:hover,
.up:hover svg {
  fill: green;
}

.down {
  width: 40px;
}
.down:hover,
.down:hover svg {
  fill: orange;
}

.mobile-score {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
.post--container--content {
  width: 100%;
  margin: auto;
}

.post--container--content-bottominfo {
  display: flex;
  gap: 40px;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.comment--count {
  font-weight: bold;
  color: blue;
}

.comment--icon {
  width: 20px;
}

.preview {
  width: 100%;
  max-height: 650px;
}

video {
  cursor: auto;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .post--container--votebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .mobile-score {
    display: none;
    flex-direction: row;
  }
}
